/lab2/target/classes/META-INF/
/lab2/target/classes/4004.png
/lab2/target/classes/k5ieDIP2li1KN_AQfI9oJ15AYK-KB8fxVJ-riLRlPirUbrc1SLHA_mT_jZtniRhx2DqR8k2xycQAztPzF2HVjcTx.jpg
/lab1/target/
/lab1/target/classes/
/lab1/target/classes/lab1/
/lab1/target/classes/META-INF/
/lab3/gradle/
/lab3/.idea/
/lab4/.idea/
